 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');


@font-face {
  font-family: 'Thunder3';
  src:  url('../public/fonts/Thunder-LightHC.otf');
  font-weight: 300; /* Poids de la police light */
}
@font-face {
  font-family: 'Thunder5';
  src:  url('../public/fonts/Thunder-MediumHC.otf');
  font-weight: 500; /* Poids de la police light */
}
@font-face {
  font-family: 'Thunder6';
  src:  url('../public/fonts/Thunder-SemiBoldHC.otf');
  font-weight: 600; /* Poids de la police light */
}
@font-face {
  font-family: 'Thunder7';
  src:  url('../public/fonts/Thunder-ThinHC.otf');
  font-weight: 700; /* Poids de la police light */
}


:root{
  --color-body: #F2762E;
  --color-first: #f2d82e;
  --color-second: #f22e48;
  --color-third: #D7E0FF;

}


body {
  background-color: var(--color-body);
  font-family: 'Thunder3', Courier, monospace;
  overflow: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{font-size: 7.5rem; font-family: 'Thunder6', Courier, monospace;}
h2{font-size: 6rem;font-family: 'Thunder6', Courier, monospace;}
h3{font-size: 5rem;font-family: 'Thunder6', Courier, monospace;}
h4{font-size: 2rem;font-family: 'Thunder6', Courier, monospace;}

p{
  font-family: 'Roboto', Courier, monospace;
  font-size: 1.25rem;
}
 a {
  text-decoration: none;
  color: black;
  position: relative;
}

.container{
  max-width: 1080px;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section{
  padding-top: 7rem;
  
}

  
  .btn{
    padding:  0.75rem 2rem  ;
    line-height: 1;
    border-radius:1.875rem ;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0%);
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    background-color: var(--color-second);
    font-weight: bolder;
    cursor: pointer;
  }
  
  @keyframes button-push{
    50%{
      transform: scale(0.8);
    }
    100%{
      transform: scale(1);
    }
  }
  
  .btn:hover{
    animation: button-push 0.3s linear 1;
  }

  .grid{
    display: grid;
  }

 

  